@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Poppins";
}
.container {
  width: 70%;
  margin: 0 auto;
  @media @desktop {
    width: 50%;
  }
}

main {
  .flex();
  flex-wrap: wrap;
  margin: 1rem;
  margin-bottom: 5rem;
  h1 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin: 1rem 0;
  }
  p {
    text-indent: 2rem;
  }
  .aboutName {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem 0.2rem @midGray;
    margin-bottom: 2rem;
    @media @tablet {
      width: 17%;
      margin: 1rem;
    }
    p {
      padding: 1rem;
    }
    :first-child {
      border-radius: 1rem 1rem 0 0;
      font-weight: bold;
      margin-bottom: 0.5rem;
      background: @midGray;
    }
  }
}
