main {
  margin: 0;
  .flex();
  justify-content: space-evenly;
  .card {
    // .test(orange);
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem 0.2rem @midGray;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 1rem;
    @media @tablet {
      margin: 0 1rem 2rem;
    }
    img {
      width: 100%;
      border-radius: 1rem;
      width: 25rem;
      height: 25rem;
      object-fit: cover;
      @media @tablet {
        width: 20rem;
        height: 20rem;
      }
      @media @desktop {
        // width: 25rem;
        // height: 25rem;
      }
    }
    p {
      font-size: 2rem;
      margin-top: 1rem;
      padding: 0;
      width: 100%;
      text-align: center;
    }
  }
  > p {
    display: block;
    width: 100%;
    text-align: center;
  }
}
